{% extends 'base.html' %} {% block content %} {% load bootstrap3 %} {% bootstrap_css %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
<div class="error-message text-center">
  {% bootstrap_form_errors form %}
</div>
<div class="col-xs-12 col-s-12">
  <div class="wrapper">
    <div class="form-signin">
      <form method="post">
        <h1 align="center">Log In</h1> &nbsp {% csrf_token %} {% for field in form %}

        <div class="form-group">
          {% bootstrap_field field show_label=False %}
        </div>



        {% endfor %}

        <hr>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="form-actions forgot-password">
          <a href="#">Forgot Password? {{message}}</a>
        </div>

      </form>
    </div>
    <div class="text-center" style="margin-top:10px; color:white;">
      Don't have an account? <a href="/" style="color:white; text-decoration:underline;  font-weight:bold; font-size:20px;">Sign Up!</a>
    </div>
  </div>
</div>


{% endblock %}