{% extends 'base.html' %} {% block content %} {% load bootstrap3 %} {% bootstrap_css %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
<div class="error-message text-center">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable fade in">{{ message }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
  {% endfor %}
  {% endif %}
  {% bootstrap_form_errors form %}
</div>
<div class="col-xs-12 col-s-12">
  <div class="wrapper">
    <div class="form-signin">
      <form method="post">
        <h1 align="center">Password Reset</h1> &nbsp {% csrf_token %} {% for field in form %}

        <div class="form-group">
          {% bootstrap_field field show_label=False %}
        </div>
        
        {% endfor %}

        <hr>
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>

      </form>
    </div>
    <div class="text-center" style="margin-top:10px; color:white;">
      <a href="/login" style="color:white; text-decoration:underline;  font-weight:bold; font-size:20px;">Return</a>
    </div>
  </div>
</div>


{% endblock %}