{% extends "dashboard.html" %}
{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}

{% block pagename %}
    Account Info
{% endblock %}

{% block sub-content %}
<div class="container">
    <div class="row d-flex flex-row" id="personalInfo">
        <img class="img" alt="Some Image Here">
    </div>
    <div class="info">
        <span><b>Volledige Naam:</b> {{ info.name }} {{ info.surname }}</span>
        <br>
        <span><b>Geboortedatum:</b> {{ info.birthdate }}</span>
    </div>
</div>
{% endblock %}