{% extends 'base.html' %} {% block content %} {% load bootstrap3 %} {% load static %} {% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
<span id="_pageName" style="display:none">{% block pagename %}{% endblock %}</span>
<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard/">Menu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li data-link-name="home">
                    <a href="/dashboard/">Dashboard
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li data-link-name="vm">
                    <a href="/dashboard/my-vm/">My Virtual Machines
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tasks"></span>
                    </a>
                </li>
                <li data-link-name="create">
                    <a href="/dashboard/vm-create">Create Virtual Machine
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-edit"></span>
                    </a>
                </li>

                <li data-link-name="account">
                    <a href="/dashboard/account">Account Info
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
                    </a>
                </li>
                <li>
                    <a href="/logout">Log out
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="main">
{% block sub-content %}{% endblock %}

</div>

<script>
    function htmlbodyHeightUpdate() {
        var height3 = $(window).height()
        var height1 = $('.nav').height() + 50
        height2 = $('.main').height()
        if (height2 > height3) {
            $('html').height(Math.max(height1, height3, height2) + 10);
            $('body').height(Math.max(height1, height3, height2) + 10);
        }
        else {
            $('html').height(Math.max(height1, height3, height2));
            $('body').height(Math.max(height1, height3, height2));
        }

    }
</script>

<script>
    $(function () {
        var pageName = document.getElementById('_pageName');
        if (pageName != null) { pageName = pageName.innerHTML; }
        else { pageName = ''; }
        if (pageName.length > 0) {
            $("li[data-link-name='" + pageName + "']").addClass('active');
        }
    });
</script>
{% endblock %}