{% extends "dashboard.html" %}{% load bootstrap3 %} {% load static %} {% bootstrap_css %} {% block pagename %}vm{% endblock%}
{% block sub-content %}
<legend class="text-center">Manage Virtual Machines</legend>
<div class="container">
        <div class="panel panel-default">
                <div class="panel-heading">Manage VM</div>
                <div class="panel-body">
                        <table class="table table-striped">
                                <thead> <!--Add header entries-->
                                        <td>
                                                <b>Name</b>     <!--b Stands for bold-->
                                        </td>
                                        <td>
                                                <b>Date of creation</b>
                                        </td>
                                        <td>
                                                <b>State</b>
                                        </td>
                                        <td>
                                                <b>Action</b>
                                        </td>
                                </thead>
                                <tbody>
                                        {% for value in data %} <!--Loop through python passed data-->

                                        <tr>
                                                <td>
                                                        {{value.Name}}
                                                </td>
                                                <td>
                                                        {{value.Date}}
                                                </td>
                                                <td>
                                                        {{value.State}}
                                                </td>
                                                
                                                        {% if value.State == "Shut down"%}
                                                        <td>
                                                        <form action="/dashboard/my-vm/" method="post">{% csrf_token %}
                                                                <button name="start" type="submit" class="btn btn-md btn-primary" value="{{value.Name}}">Start</button>
                                                        </form>
                                                        </td>   
                                                            
                                                        {% elif value.State == "Running"%}
                                                        <td>                    
                                                        <form action="/dashboard/my-vm/" method="post">{% csrf_token %}
                                                                <button name="stop" class="btn btn-md btn-primary" value="{{value.Name}}">Stop</button>
                                                        </form>
                                                        </td>
                                        
                                                        <td>

                                                        <form action="/dashboard/my-vm/" method="post">{% csrf_token %}
                                                                <button name="reboot" class="btn btn-md btn-primary" value="{{value.Name}}">Reboot</button>
                                                                </form>
                                                                </td>
                                                                {% endif %}
                                                                <td>
                                                        
                                                        <form action="/dashboard/my-vm/" method="post">{% csrf_token %}
                                                                <button name="deleteVM" class="btn btn-md btn-primary" value="{{value.Name}}">Delete</button>
                                                </td>
                                                        </form>
                                                </td>
                                                {% endfor %} <!--Ends loop-->
                                        </tr>
                                </tbody>
                        </table>
                </div>
                <div class="panel-footer">Copyright © Team 1</div>
        </div>
</div>


{% endblock %}