{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VMX VPS Hosting</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap Framework -->
        <link rel="stylesheet" href="{% static 'LandingPage/Bootstrap/css/bootstrap.min.css' %}">        
        <link rel="stylesheet" href="{% static 'LandingPage/Bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'LandingPage/Bootstrap/css/bootstrap-reboot.min.css' %}">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'LandingPage/CSS/index.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">VMX VPS Hosting</a>
            
                <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-item">
                        <a href="#home" class="nav-link">
                            Intro
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="" class="nav-link">
                            Services
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="" class="nav-link">
                            Packages
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="" class="nav-link">
                            Support
                        </a>
                    </div>
                </ul>
                </div>
            </div>
            
        </nav>

        <!-- Intro Secion -->
        <header class="container-fluid" id="intro">
            TXT
        </header>

        <!-- Bootstrap Javascript -->
        <script src="{% static 'LandingPage/Bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>