html, body{
   background-color:#222222 !important;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
      font-size: 18px !important;
}

.wrapper {	
	margin-top: 5%;

}

.form-signin {
  max-width: 470px;
  padding: 15px 35px 25px;
  margin: 0 auto;
  background-color: #fff;
  border-radius:5px;
  font-weight:bold;
}
.form-signin input {
    height:50px;
}
.btn{
    width:80%;
    height: 50px;  
    font-size:20px;  
}
.error-message{
    width:100%;
}
.form-actions {
    margin: 0;
    text-align: center;
}

.forgot-password {
    margin-top:10px;
    margin-bottom:0px;
}
div.g-recaptcha {
    margin: 0 auto;
    width: 304px;
  }